* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

#music-player {
    position: relative;
    width: 75%;
    padding: 10px 0px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
    -webkit-box-shadow: 6px 5px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 5px 9px -1px rgba(0,0,0,0.75);
    margin: auto;
    margin-top: 20px;
}

#player .audiojs{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#player {
    width: 75%;
    margin: auto;
}

#player img {
    margin-left: 50px;
}

#song-details {
    position: absolute;
    left: 42%;
    width: 400px;
    height: 200px;
}

#song-artist {
    float: right;
}

#cart-details {
    background-color: aliceblue;
    position: absolute;
    padding: 8px;
    left: 42%;
    top: 120px;
    width: 140px;
    border-radius: 8px;
    border: 1px solid black;
}

#cart-details > p1 {
    display: block;
    width: 100%;
}

#cart-details > p2 {
    border-top: 2px solid black;
    display: block;
    width: 100%;
}

#cart-details p3 {
    float: right;
    padding-right: 10px;
}

#volumecont {
    position: relative;
    width: 350px;
    height: 30px;
    margin: 0px auto;
    margin-top: 5px;
    background: url('/images/volume-background.png') no-repeat left top;
}

#volume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height:15px;
    width: 300px;
    background: url('/images/volume-empty.png') no-repeat left top;
    border: none;
    outline: none;
}

#volume .ui-slider-range-min {
    height:15px;
    width: 300px;
    position: absolute;
    background: url('/images/volume-full.png') no-repeat left top;
    border: none;
    outline: none;
}

#volume .ui-slider-handle {
    width: 23px;
    height:24px;
    top: -3px;
    background: url('/images/volume-knob.png') no-repeat left top;
    position: absolute;
    margin-left: -10px;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

#music-list table{
    cursor: pointer;
    width: 75%;
    margin: auto;
    text-align: center;
}

#music-list tr{
    width 25%;
    margin: auto;
}

a:visited {
    color: black;
}

.song a {
    color: black;
    text-decoration: none;

}

.song:hover {
  background-color: #0395c6;
}
